{% extends "base.njk" %}

{% block titulo %}Medical Records | List{% endblock %}

{% block contenido %}
<h1 class="text-center my-4 display-4 text-primary">Medical Records List</h1>

<ul class="list-group">
    <!-- Header -->
    <li class="list-group-item d-flex bg-light fw-bold">
        <span class="flex-grow-1">Patient Name</span>
        <span class="flex-grow-1">Appointments</span>
        <span class="text-end">Actions</span>
    </li>

    <!-- Records -->
    {% for record in records %}
        <li class="list-group-item d-flex {% if loop.index % 2 == 0 %}list-group-item-secondary{% endif %}">
            <span class="flex-grow-1 fw-bold">{{ record.patient.name }} {{ record.patient.surname }}</span>

            <div class="ms-auto d-flex gap-2">
                <a href="/records/{{ record._id }}" class="btn btn-success hover-invert">View details</a>
                <a href="/records/{{ record._id }}/appointments/new" class="btn btn-primary hover-invert">Add appointment</a>
                <form action="/records/{{ record._id }}" method="post" class="d-inline">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger hover-invert">Delete</button>
                </form>
            </div>
        </li>
    {% else %}
        <li class="list-group-item">No records to show</li>
    {% endfor %}
</ul>
{% endblock %}
