<div class="alert alert-secondary d-flex justify-content-between align-items-center">
    <a href="/patients" class="btn btn-primary btn-lg shadow-sm hover-invert">Patients</a>
    <a href="/physios" class="btn btn-primary btn-lg shadow-sm hover-invert">Physios</a>
    <a href="/records" class="btn btn-primary btn-lg shadow-sm hover-invert">Records</a>
</div>