<div class="alert alert-secondary d-flex justify-content-start gap-3 align-items-center">
    <!-- Dropdown for Patients -->
    <div class="dropdown">
        <a class="btn btn-primary btn-lg shadow-sm hover-invert dropdown-toggle" href="#" role="button" id="dropdownPatients" aria-expanded="false">
            Patients
        </a>
        <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-left" aria-labelledby="dropdownPatients">
            <li>
                <a class="dropdown-item" href="/patients">View all Patients</a>
            </li>
            <li>
                <a class="dropdown-item" href="/patients/new">Create new Patient</a>
            </li>
            <li>
                <form action="/patients/find" method="get">
                    <div class="d-flex gap-2">
                        <input type="text" name="surname" class="form-control" placeholder="Search" style="padding: 0.375rem 0.75rem; margin-left: 0.7em;"/>
                        <button type="submit" class="btn btn-primary" style="margin-right: 0.3em;">
                            <i class="bi bi-search">🔎</i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <!-- Dropdown for Physios -->
    <div class="dropdown">
        <a class="btn btn-primary btn-lg shadow-sm hover-invert dropdown-toggle" href="#" role="button" id="dropdownPhysios" aria-expanded="false">
            Physios
        </a>
        <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-left" aria-labelledby="dropdownPhysios">
            <li>
                <a class="dropdown-item" href="/physios">View all Physios</a>
            </li>
            <li>
                <a class="dropdown-item" href="/physios/new">Create new Physio</a>
            </li>
            <form action="/physios/find" method="get">
                <div class="d-flex gap-2">
                    <select class="form-control" name="specialty" id="specialty">
                        <option value="" disabled selected>Select specialty...</option>
                        <option value="Sports">Sports</option>
                        <option value="Neurological">Neurological</option>
                        <option value="Pediatric">Pediatric</option>
                        <option value="Geriatric">Geriatric</option>
                        <option value="Oncological">Oncological</option>
                    </select>
                    <button type="submit" class="btn btn-primary" style="margin-right: 0.3em;">
                        <i class="bi bi-search">🔎</i>
                    </button>
                </div>
            </form>
        </ul>
    </div>

    <!-- Dropdown for Records -->
    <div class="dropdown">
        <a class="btn btn-primary btn-lg shadow-sm hover-invert dropdown-toggle" href="#" role="button" id="dropdownRecords" aria-expanded="false">
            Records
        </a>
        <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-left" aria-labelledby="dropdownRecords">
            <li>
                <a class="dropdown-item" href="/records">View all Records</a>
            </li>
            <li>
                <a class="dropdown-item" href="/records/new">Create new Record</a>
            </li>
        </ul>
    </div>
    {% if (session and session.user) %}
        <a class="btn btn-primary btn-lg shadow-sm hover-invert align-items-right" href="/auth/logout">Logout</a>
    {% else %}
        <a href="/auth/login" class="btn btn-primary btn-lg shadow-sm hover-invert align-items-right">Login</a>
    {% endif %}

</div>